<% if flash[:notice] %>
  <p class="notice">
  	<%= flash[:notice] %>
  </p>
<% end %>

<h1>Editing book</h1>
<%= form_for(@book, url: "/books/#{@book.id}") do |f| %>

	<div class="field">
		<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
		</p>
	</div>

	<div class="field">
		<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
		</p>
	</div>

	<div class="field">
		<p>
		<%= f.submit 'Update Book' %>
		</p>
	</div>

<% end %>

<p class="space">
<a><%= link_to "Show", book_path(@book) %></a>
&thinsp;|&thinsp;
<a><%= link_to "Back", books_path %></a>
</p>