<!-- Home users/:id -->
<!-- done it -->

<% if flash[:notice] %>
	<p class="notice">
		<%= flash[:notice] %>
	</p>
<% end %>
<!-- render　画面左 -->
<%= render 'users/list', book: @book_new %>
<!-- ここまでrender -->

<!-- 画面右側 -->
		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table table">
				<thead>
					<tr>
						<th class="col-xs-1"></th>
						<th class="col-xs-1">Title</th>
						<th class="col-xs-7">Opinion</th>
					</tr>
				</thead>
				<% @books.each do |book| %>
				<tbody>
					<tr>
						<th class="col-xs-1 block-image">
							<%= link_to user_path(@user.id) do %>
							<%= attachment_image_tag @user,:profile_image, :fill, 40, 40, format: 'jpg', class: "img-square pull-left profile-img", size: '40x40', fallback:"sample1.jpg" %>
							<% end %>
						</th>
						<th class="col-xs-1 title">
							<%= link_to book_path(book.id) do %>
							<%= book.title %>
							<% end %>
						</th>
						<th class="col-xs-7 body">
							<%= book.body %>
						</th>
					</tr>
				</tbody>
				<% end %>
				<%= paginate @books, class: "pagenate" %>
			</table>
		</div>
	</div>
</div>